.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.book{
    color:rgb(0, 0, 0);
}
.book .text{
    width: 510px;
    height: 25px;
}
.book-btn{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.book-table{
   cursor:pointer;
   width: 520px;
   border-radius: 5px;
   padding: 5px;
   background-color: rgb(241, 83, 109);
}
.book-table:hover{
    cursor:pointer;
    width: 520px;
    border-radius: 5px;
    padding: 5px;
    background-color: gray;
 }
.head-book{
    text-align: center;
    color: rgb(254, 8, 8);
}

