.container {

    height: 500px;
    width: 1300px;
    display: flex;
    justify-content: center;

}

.box {
    width: 600px;
    height: 500px;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(248, 189, 184), rgb(204, 167, 232) 100%);
}