.navbar {
    position: fixed;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(216, 116, 247) 0%, rgb(33, 232, 250) 100%);
    padding: 22px;
    width: 100%;
}

.nav-btn {
    padding: 10px;
    width: 150px;
    border-radius: 12px;
    border: none;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(246, 56, 138) 0%, rgb(74, 158, 254) 100%);
    cursor: pointer;
}

.nav-btn:hover {
    padding: 10px;
    width: 150px;
    border-radius: 12px;
    border: none;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(117, 252, 167) 0%, rgb(245, 178, 69) 100%);
    cursor: pointer;
}

.btn-order {
    width: 180px;
    padding: 7px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(91, 239, 247) 0%, rgb(62, 85, 240) 100%);
    cursor: pointer;
}

.btn-order:hover {
    width: 180px;
    padding: 7px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(254, 64, 47), rgb(218, 177, 250) 100%);
    cursor: pointer;
}

.heading {
    font-size: 60px;
    background: -webkit-linear-gradient(rgb(245, 6, 6), rgb(33, 8, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading2 {
    font-size: 60px;
    background: -webkit-linear-gradient(rgb(245, 6, 6), rgb(33, 8, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.special-heading {
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(255, 2, 2), rgb(245, 133, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.special-dish {
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.special-dish:hover {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px violet;
}


.div1 {
    height: 450px;
    width: 300px;
    background-color: transparent;
    border: none;

}

.special-div {
    height: 200px;
    width: 250px;
    border: none;
}

.our-special-info {
    text-align: left;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(79, 3, 23), rgb(0, 12, 242));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row {
    justify-content: space-evenly;
}

.div2 {
    background-color: transparent;
    background-image: url('Assests/div9.jpg');
    box-shadow: 2px 2px 2px orange;
    display: flex;
    border-radius: 10px;
    border: red solid 1px;
    width: 250px;
    height: 220px;
    margin: 15px;
    color: white;
}

.div2:hover {
    box-shadow: 2px 2px 2px greenyellow;
}

.parent3 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-image: url('Assests/div4.jpg');
    height: 300px;
    margin-top: 100px;
    color: white;
}

.flat-icon {
    height: 200px;
    width: 200px;
    margin-bottom: 60px;
    margin-right: 20px;
    border-radius: 10px;
}

.flat-icon:hover {
    height: 180px;
    width: 180px;
    margin-bottom: 60px;
    margin-right: 40px;
    border-radius: 10px;
}

.btn-go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: aliceblue;
    font-size: 15px;
}