.heading{
    text-align: center;
    color: red;

}
body{
    background-color:teal;
    background-image: url('Assests/bg-image3.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.container{
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.select-div{
    text-align: center;
    size: 30px;
    color: red;
}
.btn{
    width: 100px;
    border: 2px green solid;
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
    box-shadow: 1px 1px 2px red;
    color: darkorange;
}
.btn:hover{
    border: 2px red solid;
    box-shadow: 1px 1px 2px gold;
}
#box1{
    display:flex;    
    justify-content:center;
    cursor: pointer;
    margin-top: 180px;
}